p {
  margin: 0;
}

.App {
  text-align: center;
}

.row {
  background: #3E4EB8; 
  border-color: rgba(255, 255, 255, 0.2);
  color: white;
  height: calc(100vh / 6);
  font-size: calc(10px + 4.5vmin);
}

.title {
  font-size: calc(10px + 5vmin);
  padding-bottom: 2vmin;
}

.description {
  font-size: calc(10px + 3vmin);
}

.capitalize {
  text-transform: capitalize;
}
